<html>
<!--<body style="background-color:black;">-->
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
        <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" rel="stylesheet" />
        <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
    </head>
    <body>
        <!--Top Nav Bar-->
        <div class="ui container">
            <div class="ui three item menu">
                <!--Home Icon-->
                <a href="/form" class="item">HOME</a>
                <!--Site Name-->
                <div class="header item">Tabi's Recipes <3</div>
                <!--Right Menu/Search-->
                <a class="item"><form method="post">
                                <div class="ui input focus">
                                    <input type="text" name="search_item" placeholder="Search recipes...">
                                </div>
                        </form></a>
                <!--Sign up button-->
            </div>
            <!--Page Contents-->
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>